.section {
  background: linear-gradient(135deg, var(--bg-dark), var(--bg-dark-alt));
  padding: 4rem 2rem;
  text-align: center;
  color: var(--text-color);
}

.titulo {
  font-size: clamp(2rem, 5vw, 3rem); /* tamanho adaptável */
  color: var(--accent-color);
  margin-bottom: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.botao {
  display: inline-flex; /* ocupa apenas o espaço necessário */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.5rem;
  background: rgba(20, 20, 30, 0.8);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  color: var(--text-light);
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.05);
}

.botao:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--accent-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icone {
  font-size: 1.4rem; /* ajusta o ícone para combinar com o texto */
  flex-shrink: 0; /* impede que ele diminua */
}


.botao:hover .icone {
  transform: rotate(10deg) scale(1.2);
}

@media (max-width: 768px) {
  .icones {
    flex-direction: column;
    align-items: center;
  }

  .botao {
    /* width: 100%; */
    /* max-width: 400px; */
    justify-content: center;
  }
}


