/* Variáveis globais para o tema claro e escuro */
:root {
    --bg-color: #0D1B2A; /* Fundo principal - Azul Petróleo */
    --bg-dark: #111111; /* Cor de fundo escuro */
    --bg-dark-alt: #1F2937; /* Cor de fundo alternativo escuro */
    --text-color: #ffffff; /* Cor do texto claro */
    --text-light: #cccccc; /* Texto claro para descrições */
    --accent-color: #38BDF8; /* Cor de destaque - Ciano */
    --border-color: #2c2c2c; /* Cor das bordas */
  }
  
  .white-mode {
    --bg-color: #ffffff; /* Fundo claro */
    --text-color: #000000; /* Texto escuro */
    --accent-color: #38BDF8; /* Ciano para destacar */
    --bg-dark: #f0f0f0; /* Fundo escuro no modo claro */
    --bg-dark-alt: #dcdcdc; /* Fundo alternativo claro */
    --text-light: #333333; /* Texto claro no fundo branco */
    --border-color: #cccccc; /* Cor das bordas no modo claro */
  }
  

@media (min-width: 768px) {
    div.fixed {
      top: 2rem; 
      right: 2rem; 
    }
  
    .switch {
      width: 100px; 
      height: 50px;
    }
  
    .switch .circle {
      width: 35px;
      height: 35px;
    }
  }
  